---
layout: content
title: 'Gough Custom: Resolute 4" Camp and Survival knife'
---

.feature
  %img.wide{:src => "/products/resolute/10-top-oblique-no-logo.jpg", :alt => "'Resolute' camping, trail and survival knife."}
  .description
    The Resolute 4" camp, trail, and survival knife.

%h1.tagline Resolute 4"

%p The Resolute 4" camping / trail / survival knife was designed to be a 'jack-of-all-trades' knife for the outdoorsman. This knife will prepare food, butcher game, and split firewood with ease.

%p The blade is made from supremely tough A2 tool steel, which in my testing has been shown to be able to take more abuse than any reasonable person would want to put it through. The tang of the blade is skeletonized to remove unnecessary weight and improve balance, while the blade geometry itself is designed to be tough without sacrificing cutting ability.

%p The handle is made from an extremely durable and water-resistant composite material called G10. It's a high-pressure laminate made from fibreglass and phenolic resin. It's highly impact and UV resistant, is not affected by water exposure, provides great grip and cleans easily. The handle is attached to the tang of the blade with stainless steel bolts and high-quality West Systems epoxy, ensuring that it will never fail when you need it.

%p The integrated window-breaker on the butt of the handle adds to the knife's utility in a survival situation while not detracting from grip comfort.

%p The thermoformed Kydex sheath retains the knife even under the most gruelling conditions without the need for cumbersome clips or straps, and offers a range of carry and mounting options, PALS/MOLLE compatibility, and more. 

%p Each knife is individually engraved with a serial number and my makers mark when it is completed.

%h2.top_margin Specifications:

%ul.product
  %li Blade material: 5/32" (4mm) thick A2 tool steel, heat-treated to ~61HRC
  %li Blade finish: Graphite Black Cerakote, or 800 grit natural satin finish
  %li Handle material: G10 (a range of colours are available)
  %li Overall length: 8.6" (220mm)
  %li Blade length: 4" (100mm)
  %li Sheath: Thermoformed Kydex body (MOLLE compatible) with detachable ambidextrous nylon webbing belt loop.
  
%h2 Price:  

%p The Resolute 4" costs USD$300 plus shipping.

%h2 Options:

%p Customers have the option to choose different colors for the handle scales on their knife. The handle can be a solid color (like you see on the brown-handled knife below), or it can have contrasting liners (like seen on the black and green knife below). Handles are only available in G10 as I believe it's the best material for the job. There are a number of colors available:

<img src="/images/g10-swatches.png" alt="G10 color swatches"/>

%h2 Ordering:

%p My ordering process is different from that of a normal online retailer as all of my knives are made by hand for a specific customer. To find out how to order a knife, please see the <a href="/ordering.html">ordering page</a>.

%h2 A note on Cerakote:

%p Cerakote is one of the toughest coatings available for knife blades, but even so it will still wear and scratch with regular use. I encourage people to choose Cerakote only if they absolutely need a non-glare coating (soldiers for instance) or if they require the extra corrosion resistance that Cerakote offers (for use in humid environments or near salt water). Please note that Cerakote is not a certified food safe coating, so that should factor into your decision. My advice to other regular users is to choose an uncoated blade. More pictures of uncoated blades coming soon. 

%h2 Examples:

%p
  = photo(1, :class => "content_image")
  = photo(2, :class => "content_image")
  = photo(3, :class => "content_image")
  = photo(4, :class => "content_image")
  = photo(5, :class => "content_image")
  = photo(6, :class => "content_image")
  = photo(7, :class => "content_image")
  = photo(8, :class => "content_image")

%h2 See it being made:

%p Below is a video of a Resolute knife being made, this knife was made for a US Army Infantryman who has since taken it with him to Afghanistan. The process of making each knife is different as I continually evolve and refine my methods, but this video captures the overall nature of the process very well.

<iframe width="853" height="480" src="//www.youtube.com/embed/R98cGkhN18o?rel=0" frameborder="0" allowfullscreen></iframe>

%h2 See it being developed:

%p An awful lot of testing and refinement has gone into my knives. My process, materials and designs are constantly evolving as I work to perfect them. This evolutionary process requires a lot of testing! Below you can see a video of the testing that I did to decide on the blade steel for the Resolute series of knives.

<iframe width="853" height="480" src="//www.youtube.com/embed/TSVs2LCZ-TQ?rel=0" frameborder="0" allowfullscreen></iframe>
