---
layout: content
title: "Custom Design and Fabrication : Wood - Metal - Electronics - Software"
---

.feature
  %img{:src => "/products/resolute/01-brown-resolute-with-sheath.JPG", :alt => "'Resolute' camping, trail and survival knife."}
  .description
    The Resolute camp, trail, and survival knife.

%h1.tagline Resolute

%p Humanity has been using knives in various forms for over 2 million years, their use is ingrained in every part of our culture, and there probably isn't an able-bodied human on earth that does not use a knife in some part of their daily life.

%p The Resolute camping / trail / survival knife was designed to be a 'jack-of-all-trades' knife for the outdoorsman. This knife will prepare food, butcher game, and split firewood with ease, as well as being able to chop, notch, and pry in a survival situation.

%p The blade is made from supremely tough O1 tool steel, which in my testing has been shown to be able to take more abuse than any reasonable person would want put it through. The tang of the blade is tapered to remove unnecessary weight and improve balance, while the blade geometry itself is designed to be tough without sacrificing cutting ability.

%p The handle is made from an extremely durable and water-resistant composite material called G10. It's a high-pressure laminate made from fibreglass and epoxy resin. It's highly impact and UV resistant, is not affected by water exposure, provides great grip and cleans easily. The handle is attached to the tang of the blade with peened O1 steel pins and high-quality West Systems epoxy, ensuring that it will never fail when you need it.

%p The integrated window-breaker on the butt of the handle adds to the knife's utility in a survival situation while not detracting from grip comfort.

%p The thermoformed Kydex sheath retains the knife even under the most gruelling conditions without the need for cumbersome clips or straps, and offers a range of carry and mounting options including belt carry, inside the waistband carry, PALS/MOLLE compatibility, and more. 

%p Each knife is individually engraved with a serial number and my makers mark when it is completed.

%h2.top_margin Specifications:

%ul.product
  %li Blade material: 5/32" (4mm) thick O1 tool steel, heat-treated to ~61HRC, acid-etched.
  %li Handle material: G10 (a range of colours are available)
  %li Overall length: 8.75" (220mm)
  %li Blade length: 3.25" (82mm)
  %li Sheath material: Thermoformed Kydex
  %li Price: $300 USD
  
= photo(1, :class => "content_image")
= photo(2, :class => "content_image")
= photo(3, :class => "content_image")
= photo(4, :class => "content_image")
= photo(5, :class => "content_image")
= photo(6, :class => "content_image")
= photo(7, :class => "content_image")





