---
layout: blog
title: The evolution of the Resolute
---

%p Over the past month or so I've been working on a new knife design called the 'Resolute'. This design is intended to address the most common request that I have for a knife, that is for a camping/bushcraft/survival knife.

%p The requirements were that it be big enough to cope with common tasks without being heavy, that it have enough belly to be used for hunting/skinning tasks, and that it be tough enough to take on survival tasks. I also wanted to incorporate a low-profile window breaker to add to it's usefulness as a survival tool.

%p The first iteration of the design called for a wide blade with a stainless steel guard:

= photo("resolute-1-side", :class => "content_image")
= photo("resolute-1-handle", :class => "content_image")

%p Ultimately I decided I didn't like the guard, as it limited my options for a sheath and largely served no purposed apart from being an aesthetic flourish.

%p For the next iteration I decided to do away with the guard, and use only synthetic handle materials. Given that this is supposed to be a hard-use knife I wanted to make sure the handle would last as long as the steel, and this is not likely to be the case with a wooden handle.

= photo("resolute-2-side", :class => "content_image")
= photo("resolute-2-handle", :class => "content_image")

%p This handle on this one was black paper micarta, which looks great but unfortunately provides almost no grip...

%p For the next iteration I decided to add a flare at the butt end of the handle, to provide for extra grip when chopping with the knife. I also wanted to try linen micarta as I hadn't used it before.

= photo("resolute-3-side", :class => "content_image")
= photo("resolute-3-handle", :class => "content_image")

%p The linen micarta works extremely well as a handle material! It's incredibly grippy, but unfortunately it really doesn't look that great. I also dislike the flared handle as it disrupts the lines of the knife too much.

%p With the previous knives I was also unhappy with the way that the O1 steel reacted with food. It tended to leave a metallic taste on acidic foods like onions and tomatoes as the raw steel reacted with the acids. To combat this I started doing experiments with different blade coatings. Black oxide coating was the initial candidate, but I found the coating was coming off on food. I investigated various paint finishes (like Cerakote and Duracoat) but after looking at the MSDSs for them I got scared off as they all contain chemicals that I wouldn't want to be exposed to in food.

%p One of my final options was to acid-etch the steel, which ended up working perfectly on the first try. The acid etching gives the steel a micro-pitted surface that helps hold onto a protective layer of wax or oil, and it also passivates the surface of the steel so that it doesn't react with food.

%p I also wanted to try some G10 as the handle material. Everyone had told me that this material is quite difficult to work with, but it turns out that I really liked working with it! I also like the texture and appearance of the material, I think we're onto a real winner with this stuff!

= photo("resolute-4-side", :class => "content_image")
= photo("resolute-4-handle", :class => "content_image")

%p The final knife has a slimmer blade than the previous ones because it was damaged and then repaired after some gruelling torture tests (that involved hammering it through steel sheet!). However it turns out that I actually prefer the look of the slimmer blade, so the final models will have a blade that is somewhere between the slimmer and fatter blades.

%p It's been a great process so far, and I'm very happy with the result! The first Resolute model knives will be going out to customers in the next few weeks!