---
layout: blog
title: First batch of Resolute knives finished!
---

%p I've finally finished the first batch of Resolute knives! This batch has taken just over 3 months, mainly because I was having to develop and trouble-shoot a lot of processes as I went. I imagine the next batch will be much quicker as I have a lot of new jigs and fixtures setup so that I can get things right on the first try from now on.

%p The process of applying the Cerakote in particular took a lot of time. I am relatively new to spray-applied coatings, and it turns out that Cerakote is one of the most demanding coatings you can apply in terms of equipment, technique and cleanliness. There was a big learning curve for me there, I re-applied the coating 8 times before I got the results I wanted, and the whole ordeal took almost 6 weeks!

%p That being said I'm very happy with how everything came out. There's a lot of things I would change in the process, but almost nothing I would change about the results!

%p
  = photo(1, :class => "content_image")
  = photo(2, :class => "content_image")
  = photo(3, :class => "content_image")
  = photo(4, :class => "content_image")
  = photo(5, :class => "content_image")